<footer class="site-footer">

  <div class="wrapper">

    <a href="{{ site.url }}" class="footer-link"><h2 class="footer-heading">{{ site.title }}</h2></a>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.subtitle }}</li>
          <li><a href="mailto:{{ site.email }}" style="font-size: small;">{{ site.email }}</a></li>
        </ul>
        <img src="../images/bwg_small.png" alt="BWG Logo"/>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
