web:
  image: grahamc/jekyll
  volumes:
    - src:/src
  command: ['serve', '-H', '0.0.0.0', '--port', '80']
  environment:
    - VIRTUAL_HOST=zeichen-und-symbole.bwg.hu-berlin.de
  expose:
    - "80"
# nak nak nak naak
