{% capture language %}{{ page.path | split:'.' | first }}{% endcapture %}
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html language=language %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <a href="#0" class="cd-top">Top</a>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </body>

</html>
