---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);

// Our variables
$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #9ABAA8;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// h1 {
//    font-size: 40px;
//    line-height: 52px;
//    margin-bottom: 25px;
//    font-family: "Playfair Display";
//    font-weight: 700;
//    font-style: normal;
// }

body {
  font-family: "Playfair Display";
  font-weight: 400;
}

p {
   font-size: 18px;
   line-height: 32px;
}

a.site-title {
  display: none;
}

div.trigger {
  margin: auto;
}

.site-nav {
  float: none;
  margin: auto;
  line-height: 56px;
  text-align: center;
}

.site-header {
  border: 0px;
}

h1 {
  font-family: "futura-pt";
  text-transform: uppercase;
  color: #9ABAA8;
  font-weight: 700;
  font-size: 40px;
}

.page-link {
  font-family: "futura-pt";
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

a.page-link:hover {
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 2px;
}

h3.header-line {
  font-style: italic;
  color: #9ABAA8;
}

h1 ~ h3 {
  margin-bottom: 50px;
}

h2 {
  font-family: "futura-pt";
  font-weight: 400;
  color: #9ABAA8;
}

li {
  font-size: 18px;
  line-height: 32px;
}

p + h2 {
  margin-top: 50px;
}

div h1:nth-child(2) {
  margin-top: 50px;
}

div h2:nth-child(2) {
  margin-top: 50px;
}